io-navbar
{
    background-color: white !important;
}

#myNavbar
{
    text-transform: uppercase;
    margin-right: 1vw;
    font-color: #1a1e21;
    color: #1a1e21;
}

.IO-primary
{
    color: #26d5fa;
}
.IO-secondary
{
    color: #ff7575;
}
.IO-yellow
{
    color: #ffc94c;
}

.IO-Title
{
    font-size: 55px;
    text-transform: uppercase;
    font-weight: bold;

}
.navbar-elements{
	font-size: 2rem;
	color: black;
}
.slideshow-body > *{
	height: 95vh;
}
.body-title
{
    margin-top: 35px;
}
.contant-aligner
{
    position: relative;
    text-align: left;
    top: 100px;
    width: 50vw;
	margin: 0 10rem;
}
.all-content
{
background-image: url(iosvg2.svg);
height: 1600px;
background-repeat: no-repeat;
background-repeat: repeat-y;
margin: 0 15%;
}
.body-content {
background-image: url(iosvg.svg);
height: 600px;
background-repeat: no-repeat;
margin: 0 15%;
}